/* Basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belleza', sans-serif;
}

/* 1 / 7 */
.header {
    display: flex;
    height: 50px;
    background: #2b2b2b;
    align-items: center;    
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly
}

.container h1 a{
    color: #bb6f0d;
    text-decoration: none;
}

.container nav a {
    padding: 5px;
    color: #bb6f0d;
    text-decoration: none;
}

/* 2 / 7 */
.main-image {
    display: flex;
    justify-content: center;
    max-height: 400px;
}
.main-image img {
    max-width: 100%;    
}

/* 3 / 7 */
.about {
    height: 300px;
}

/* 4 / 7 */
.services {
    background:#2b2b2b;
    height: 300px;            
}

/* 5 / 7 */
.advantages {
    background:white;
    height: 300px;
}

/* 6 / 7 */
.contact {
    background: #eeeeee;
    height: 300px;
    display: flex;
}

/* 7 / 7 */
.footer {
    display: flex;
    justify-content: space-around;
    color: #cd9349;
    background: #2b2b2b;
    height: 80px;
    align-items: center;
}
