body, ul, li, p {
    margin: auto;
    padding: 0px;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1250px;
}

a {
    text-decoration: none;
    color: #bb6f0d;
}

.header {
    background: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu{ 
    display: flex;
}

.menu li {
    margin-left: 15px;
}

.menu li a {
    display: block;
    padding: 10px;    
}

.section {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    max-height: 400px;
}
.section img {
    max-width: 100%;    
}

.main-services {
    background:#2b2b2b;
    height: 250px;
    color: #cd9349;        
}

.main-services h2 {
    display: flex;
    justify-items: center;
}

.services {
    display: flex;

}

.vantages {
    background:white;
    height: 250px;

}
.section3 {
    background: #eeeeee;
    height: 250px;

}

.main-address {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    color: #cd9349;
    background: #2b2b2b;
    height: 80px;
    align-items: center;
}

.phone {
    justify-items: right;
}
/* .empresa {
    display: flex;
    margin-top: 5px;
    color: #cd9349;
    background: #2b2b2b;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80px;    
} */

.social-media {
    color: #cd9349;
}



